#parse("/array.java.vm")
#if ($packageName)
package $packageName;

#end
import com.lazerycode.selenium.DriverBase;
import cucumber.api.CucumberOptions;

@CucumberOptions(
        strict = $strict,
        features = {"$featureFile"},
        plugin = #stringArray($plugins),
        monochrome = $monochrome,
#if(!$featureFile.contains(".feature:") && $tags)
        tags = #stringArray($tags),
#end
        glue = #stringArray($glue))
public class $className extends DriverBase {

}